
#profile-picture {
	display: block;
	width: 70%;
	height: auto;
	border-radius: 100%;
	align-self: center;
	margin: 0 auto;
}

body {
	margin-top:100px;
}

div.text-center-children * {
	text-align: center;
}

/*.sub-content {
	margin-bottom: 30px;
	margin-top: 30px;
}*/

.links * {
	font-size: 30px;
	padding: 5px;
	text-decoration: none;
	color: black;
}

.links > a:hover {
	background-color: black;
	color: white;
	text-decoration: none;	
}

/*h1 {
	text-decoration: underline;
}

.container {
	display: flex;
}

.fixed {
	width:300px;
	margin-right: 100px;		
	border-right: 1px solid black;
}

.flex-item {
	flex-grow: 1;
}



.make-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
}

a.links {

}*/

